/*  My Discord Theme

    # required
    
    * Cica Font
    (https://github.com/miiton/Cica)
    * Copy Code Plugin by Finicalmist
    (https://github.com/Finicalmist/CopyCode)
*/

.channels-wrap {
    background-color: #0b0d0e !important;
}

.guilds-add-inner {
    top: -3px;
}

.username-wrapper, .member-username-inner {
    font-family: 'Segoe UI';
}

code {
    font-size: 1.2em;
    background-color: #0b0d0e !important;
    border: none;
    font-family: 'CicaE';
}

.comment, .message-text, .message > .body, .comment > .old-h2 {
    background-color: #0b0d0e;
}

.scroller-wrap .scroller::-webkit-scrollbar {
    width: 8px;
}

.theme-dark .message-group .comment .markup pre {
    background: #0b0d0e;
    border: none;
}

.divider span {
    background-color: #0b0d0e !important;
    border-radius: 0 !important;
}

.divider span, .timestamp {
    color: #ccc !important;
}

.upload-modal .comment{
    background-color: initial;
    border-color: rgba(0,0,0,0);
}

.copybutton {
    background-color: #0b0d0e !important;
    border: 1px solid #222 !important;
}

.copybutton:hover {
    color: #fff !important;
}

.inner-3if5cm {
    background-color: rgba(0,0,0,0) !important;
}